<div class="main" style="padding-top: 10px">
  <div class="container">
    <!-- BEGIN SIDEBAR & CONTENT -->
    <div class="row margin-bottom-40">
      <!-- BEGIN SIDEBAR -->
      <div class="sidebar col-md-3 col-sm-5">
        <ul class="list-group margin-bottom-25 sidebar-menu">
          <li class="list-group-item clearfix dropdown">
            <a class="collapsed">
              <i class="fa fa-angle-right"></i>
              Đồ Nữ
            </a>
            <ul class="dropdown-menu" style="display:none;">
              <li class="list-group-item dropdown clearfix ">
                <a class="collapsed"><i class="fa fa-angle-right"></i> Quần Jean </a>
                <ul class="dropdown-menu" style="display:block;">
                  <li class="list-group-item dropdown clearfix">
                    <a href="homepage/productList" class="collapsed"> Mẫu 1</a>
                  </li>
                  <li>
                    <a >Mẫu 2 </a>
                  </li>
                  <li>
                    <a > Mẫu 3 </a>
                  </li>
                </ul>
              </li>
              <li class="list-group-item dropdown clearfix">
                <a class="collapsed"><i class="fa fa-angle-right"></i> VÁY NGẮN </a>
                <ul class="dropdown-menu" style="display:none;">
                  <li class="list-group-item dropdown clearfix">
                    <a> Mẫu 1</a>
                  </li>
                  <li>
                    <a> Mẫu 2</a>
                  </li>
                  <li>
                    <a > Mẫu 3</a>
                  </li>
                </ul>
              </li>
              <li class="list-group-item dropdown clearfix">
                <a class="collapsed"><i class="fa fa-angle-right"></i> TRANG SỨC</a>
                <ul class="dropdown-menu" style="display:none;">
                  <li class="list-group-item dropdown clearfix">
                    <a> Mẫu 1</a>
                  </li>
                  <li>
                    <a> Mẫu 2</a>
                  </li>
                  <li>
                    <a> Mẫu 3</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="list-group-item clearfix dropdown ">
            <a class="collapsed">
              <i class="fa fa-angle-right"></i>
              Đồ Nam
            </a>
            <ul class="dropdown-menu" style="display:none;">
              <li class="list-group-item dropdown clearfix">
                <a class="collapsed"><i class="fa fa-angle-right"></i> GIÀY DÉP </a>
                <ul class="dropdown-menu" style="display:none;">
                  <li class="list-group-item dropdown clearfix">
                    <a> Giày Thể Thao</a>
                  </li>
                  <li>
                    <a>Giày Dạ Hội</a>
                  </li>
                  <li>
                    <a>Giày Lao Động</a>
                  </li>
                </ul>
              </li>
              <li class="list-group-item dropdown clearfix">
                <a class="collapsed"><i class="fa fa-angle-right"></i> QUẦN ÁO </a>
                <ul class="dropdown-menu" style="display:none;">
                  <li class="list-group-item dropdown clearfix">
                    <a> Áo Thun</a>
                  </li>
                  <li>
                    <a> Áo Sơ Mi</a>
                  </li>
                  <li>
                    <a> Áo Khoác</a>
                  </li>
                </ul>
              </li>
              <li class="list-group-item dropdown clearfix">
                <a class="collapsed"><i class="fa fa-angle-right"></i> PHỤ KIỆN </a>
                <ul class="dropdown-menu" style="display:none;">
                  <li class="list-group-item dropdown clearfix">
                    <a> Kính</a>
                  </li>
                  <li>
                    <a> Mũ</a>
                  </li>
                  <li>
                    <a> Đồng Hồ</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="list-group-item clearfix dropdown ">
            <a class="collapsed">
              <i class="fa fa-angle-right"></i>
              Đồ Trẻ Em
            </a>
            <ul class="dropdown-menu" style="display:none;">
              <li class="list-group-item dropdown clearfix">
                <a class="collapsed"><i class="fa fa-angle-right"></i> GIÀY DÉP </a>
                <ul class="dropdown-menu" style="display:none;">
                  <li class="list-group-item dropdown clearfix">
                    <a> Giày Thể Thao</a>
                  </li>
                  <li>
                    <a>Giày Dạ Hội</a>
                  </li>
                  <li>
                    <a>Giày Lao Động</a>
                  </li>
                </ul>
              </li>
              <li class="list-group-item dropdown clearfix">
                <a class="collapsed"><i class="fa fa-angle-right"></i> QUẦN ÁO </a>
                <ul class="dropdown-menu" style="display:none;">
                  <li class="list-group-item dropdown clearfix">
                    <a> Áo Thun</a>
                  </li>
                  <li>
                    <a> Áo Sơ Mi</a>
                  </li>
                  <li>
                    <a> Áo Khoác</a>
                  </li>
                </ul>
              </li>
              <li class="list-group-item dropdown clearfix">
                <a class="collapsed"><i class="fa fa-angle-right"></i> PHỤ KIỆN </a>
                <ul class="dropdown-menu" style="display:none;">
                  <li class="list-group-item dropdown clearfix">
                    <a> Kính</a>
                  </li>
                  <li>
                    <a> Mũ</a>
                  </li>
                  <li>
                    <a> Đồng Hồ</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="list-group-item clearfix dropdown">
            <a class="collapsed">
              <i class="fa fa-angle-right"></i>
              Trợ Giúp
            </a>
            <ul class="dropdown-menu" style="display:none;">
              <li class="list-group-item dropdown clearfix">
                <a> Hướng dẫn mua hàng </a>
              </li>
              <li>
                <a> Hướng dẫn thanh toán </a>
              </li>
              <li>
                <a> Hướng dẫn Đăng ký/Đăng nhập</a>
              </li>
              <li>
                <a> Hướng dẫn lấy mật khẩu</a>
              </li>
              <li>
                <a> Thắc mắc khác</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- END SIDEBAR -->

      <!-- BEGIN CONTENT -->
      <div class="col-md-9 col-sm-9">
        <h1>Hướng dẫn mua hàng</h1>
        <div class="content-page">
          <h2>Làm sao để mua hàng</h2>
          <p>
            Bạn cần phải chọn các mục dưới đây để chọn được loại sản phẩm mình ưa thích
          </p>
          <img src="assets/pages/img/Tutorial1.PNG" style="width: 300px; height: 200px">
          <h2>Đặt hàng</h2>

          <p>
            Sau khi chọn được sản phẩm bạn có thể click Zoom để xem hoặc ấn nút View như hình ảnh bên dưới để xem chi tiết
          </p>
          <img src="assets/pages/img/tutorial2.PNG" style="height: 250px;width: 350px">
          <img src="assets/pages/img/tutorial3.PNG" style="height: 250px;width: 350px;padding-left: 10px">
          <p>Sau đó bạn sẽ tới trang đặt hàng</p>
          <h3>Đặt hàng</h3>
          <p>Bạn ấn nút thêm vào giỏ hàng, sau đó ấn mua Hàng và thanh toán là hoàn thành </p>
          <img src="assets/pages/img/tutorial4.PNG" style="height: 250px;width: 700px">
          </div>
      </div>
      <!-- END CONTENT -->
    </div>
    <!-- END SIDEBAR & CONTENT -->
  </div>
</div>
