<!-- BEGIN PRE-FOOTER -->
<div class="pre-footer">
  <div class="container">
    <div class="row">
      <!-- BEGIN BOTTOM ABOUT BLOCK -->
      <div class="col-md-5 col-sm-6 pre-footer-col">
        <h2>Về chúng tôi</h2>
        <p>Website này được thành lập vào tháng 3 năm 2023 </p>
        <p>Do tập đoàn công nghệ đến từ châu âu</p>
        <p>Mọi thắc mắc của quý khách vui lòng liên hệ cho chúng tôi</p>
        <p>Qua link bên dưới</p>
        <ul class="social-icons">
          <li><a class="facebook" data-original-title="facebook" href="javascript:;"></a></li>
          <li><a class="twitter" data-original-title="twitter" href="javascript:;"></a></li>
          <li><a class="googleplus" data-original-title="googleplus" href="javascript:;"></a></li>
          <li><a class="youtube" data-original-title="youtube" href="javascript:;"></a></li>
        </ul>
      </div>
      <!-- END BOTTOM ABOUT BLOCK -->
      <!-- BEGIN BOTTOM INFO BLOCK -->
      <div class="col-md-4 col-sm-6 pre-footer-col">
        <h2>Thông tin</h2>
        <ul class="list-unstyled">
          <li><i class="fa fa-angle-right"></i> <a href="javascript:;">Thông tin giao hàng</a></li>
          <li><i class="fa fa-angle-right"></i> <a href="javascript:;">Dịch vụ khách hàng</a></li>
          <li><i class="fa fa-angle-right"></i> <a href="javascript:;">Theo dõi đơn hàng</a></li>
          <li><i class="fa fa-angle-right"></i> <a href="javascript:;">Thắc mắc</a></li>
          <li><i class="fa fa-angle-right"></i> <a href="contacts.html">Kênh liên hệ chúng tôi</a></li>
        </ul>
      </div>
      <!-- END INFO BLOCK -->

      <!-- BEGIN BOTTOM CONTACTS -->
      <div class="col-md-3 col-sm-6 pre-footer-col">
        <h2>Danh bạ của chúng tôi</h2>
        <address class="margin-bottom-40">
          35, Kim Giang, Đại Kim<br>
          Hà Nội, Việt Nam<br>
          Phone: 300 323 3456<br>
          Fax: 300 323 1456<br>
          Email: <a href="#">anhnguyendinh@metronic.com</a><br>
          Skype: <a href="skype:metronic">dinhanh</a>
        </address>
      </div>
      <!-- END BOTTOM CONTACTS -->
    </div>
    <hr>
  </div>
</div>
<!-- END PRE-FOOTER -->

<!-- BEGIN FOOTER -->
<div class="footer">
  <div class="container">
    <div class="row">
      <!-- BEGIN COPYRIGHT -->
      <div class="col-md-4 col-sm-4 padding-top-10">
        2015 © Keenthemes. ALL Rights Reserved.
      </div>
      <!-- END COPYRIGHT -->
      <!-- BEGIN PAYMENTS -->
      <div class="col-md-4 col-sm-4">
        <ul class="list-unstyled list-inline pull-right">
          <li><img src="assets/corporate/img/payments/western-union.jpg" alt="We accept Western Union" title="We accept Western Union"></li>
          <li><img src="assets/corporate/img/payments/american-express.jpg" alt="We accept American Express" title="We accept American Express"></li>
          <li><img src="assets/corporate/img/payments/MasterCard.jpg" alt="We accept MasterCard" title="We accept MasterCard"></li>
          <li><img src="assets/corporate/img/payments/PayPal.jpg" alt="We accept PayPal" title="We accept PayPal"></li>
          <li><img src="assets/corporate/img/payments/visa.jpg" alt="We accept Visa" title="We accept Visa"></li>
        </ul>
      </div>
      <!-- END PAYMENTS -->
      <!-- BEGIN POWERED -->
      <div class="col-md-4 col-sm-4 text-right">
        <p class="powered">Mod by: <a href="http://www.keenthemes.com/">Dinhanh.com</a></p>
      </div>
      <!-- END POWERED -->
    </div>
  </div>
</div>
<!-- END FOOTER -->
