<div class="main">
  <div class="container">
    <!-- BEGIN SIDEBAR & CONTENT -->
    <div class="row margin-bottom-40">
      <!-- BEGIN CONTENT -->
      <div class="col-md-12 col-sm-12">
        <div style="text-align: center; padding-top: 20px">
          <h1>Đăng Nhập</h1>
        </div>
        <!-- BEGIN CHECKOUT PAGE -->
        <div class="panel-group checkout-page accordion scrollable" id="checkout-page">
          <!-- BEGIN CHECKOUT -->
          <div id="checkout" class="panel panel-default">
            <div id="checkout-content" class="panel-collapse collapse in">
              <div class="panel-body row">
                <div class="col-md-6 col-sm-6">
                  <h4>Người mới</h4>
                  <p>Lựa chọn :</p>
                  <div class="radio-list">
                    <label>
                      <input type="radio" name="account"  value="register"> Tạo mới Tài khoản
                    </label>
                    <label>
                      <input type="radio" name="account"  value="guest"> Khách thanh toán
                    </label>
                  </div>
                  <p>Bằng cách tạo một tài khoản, bạn sẽ có thể mua sắm nhanh hơn,</p>
                  <p>được cập nhật về trạng thái của đơn đặt hàng và theo dõi các </p>
                  <p>đơn đặt hàng bạn đã thực hiện trước đó.</p>
                  <button class="btn btn-primary" type="submit" data-toggle="collapse" data-parent="#checkout-page" data-target="#payment-address-content">Continue</button>
                </div>
                <div class="col-md-6 col-sm-6">
                  <h4>Phản hồi khách hàng</h4>
                  <p>Tôi là người dùng cũ.</p>
                  <form role="form" action="#">
                    <div class="form-group">
                      <label for="email-login">E-Mail</label>
                      <input type="text" id="email-login" class="form-control" placeholder="Nhâp tài khoản/Email">
                    </div>
                    <div class="form-group">
                      <label for="password-login">Password</label>
                      <input type="password" id="password-login" class="form-control" placeholder="Nhập mật khẩu">
                    </div>
                    <a href="javascript:;">Quên mật khẩu?</a>
                    <a href="register"> Đăng ký</a>
                    <div class="padding-top-20">
                      <a href="homepage" class="btn btn-primary" type="submit"><span style="color: white;">Login</span></a>
                    </div>
                    <hr>
                    <div class="login-socio">
                      <p class="text-muted">Hoặc đăng nhập bằng:</p>
                      <ul class="social-icons">
                        <li><a href="javascript:;" data-original-title="facebook" class="facebook" title="facebook"></a></li>
                        <li><a href="javascript:;" data-original-title="Twitter" class="twitter" title="Twitter"></a></li>
                        <li><a href="javascript:;" data-original-title="Google Plus" class="googleplus" title="Google Plus"></a></li>
                      </ul>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- END CHECKOUT -->
        </div>
        <!-- END CHECKOUT PAGE -->
      </div>
      <!-- END CONTENT -->
    </div>
    <!-- END SIDEBAR & CONTENT -->
  </div>
</div>
