<!-- BEGIN fast view of a product -->
<div style="width: 710px;">
  <div style="padding-top: 10px;padding-left: 10px">
    <div class="product-page product-pop-up">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-3">
          <div class="product-main-image">
            <img src="assets/pages/img/products/model7.jpg" alt="Cool green dress with red bell" class="img-responsive">
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-9">
          <h1>Cool green dress with red bell</h1>
          <div class="price-availability-block clearfix">
            <div class="price">
              <strong><span>$</span>47.00</strong>
              <em>$<span>62.00</span></em>
            </div>
            <div class="availability">
              Trạng thái: <strong>đang bán</strong>
            </div>
          </div>
          <div class="description">
            <p>Không cần quá nhiều màu sắc, chỉ với một sắc đen cơ bản, bạn có thể trở nên
              long lanh, lấp lánh, kiêu sa trong những buổi tiệc hay những buổi hẹn hò
              quan trọng. Với chi tiết thêu tay tỉ mẩn cùng chất liệu voan mềm mại</p>
          </div>
          <div class="product-page-options">
            <div class="pull-left">
              <label class="control-label">Size:</label>
              <select class="form-control input-sm">
                <option>L</option>
                <option>M</option>
                <option>XL</option>
              </select>
            </div>
            <div class="pull-left">
              <label class="control-label">Color:</label>
              <select class="form-control input-sm">
                <option>Red</option>
                <option>Blue</option>
                <option>Black</option>
              </select>
            </div>
          </div>
          <div class="product-page-cart">
            <div class="product-quantity">
              <input id="product-quantity" type="text" value="1" readonly name="product-quantity" class="form-control input-sm">
            </div>
            <a href="itemDetail/cardList" class="btn btn-primary" type="submit">Thêm vào giỏ</a>
            <!--          <a (click)="itemDetail()" class="btn btn-default">Xem chi tiết</a>-->
            <a class="btn btn-default" (click)="itemDetail()" >Xem chi tiết</a>
          </div>
        </div>

        <div class="sticker sticker-sale"></div>
      </div>
    </div>
  </div>

</div>
<!-- END fast view of a product -->


