<div class="main" style="padding-top: 10px">
  <div class="container">
    <ul class="breadcrumb">
      <li><a href="index.html">Home</a></li>
      <li><a href="">Store</a></li>
      <li class="active">Men category</li>
    </ul>
    <!-- BEGIN SIDEBAR & CONTENT -->
    <div class="row margin-bottom-40">
      <!-- BEGIN SIDEBAR -->
      <div class="sidebar col-md-3 col-sm-5">
        <ul class="list-group margin-bottom-25 sidebar-menu">
          <li class="list-group-item clearfix dropdown active">
            <a href="shop-product-list.html" class="collapsed">
              <i class="fa fa-angle-right"></i>
              Đồ Nữ
            </a>
            <ul class="dropdown-menu" style="display:block;">
              <li class="list-group-item dropdown clearfix active">
                <a class="collapsed"><i class="fa fa-angle-right"></i> Quần Jean </a>
                <ul class="dropdown-menu" style="display:block;">
                  <li class="list-group-item dropdown clearfix active">
                    <a href="shop-product-list.html" class="collapsed"><i class="fa fa-angle-right"></i> Mẫu 1</a>
                  </li>
                  <li>
                    <a ><i class="fa fa-angle-right " ></i> Mẫu 2 </a>
                  </li>
                  <li>
                    <a ><i class="fa fa-angle-right " ></i> Mẫu 3 </a>
                  </li>
                </ul>
              </li>
              <li class="list-group-item dropdown clearfix">
                <a class="collapsed"><i class="fa fa-angle-right"></i> VÁY NGẮN </a>
                <ul class="dropdown-menu" style="display:none;">
                  <li class="list-group-item dropdown clearfix">
                    <a> Mẫu 1</a>
                  </li>
                  <li>
                    <a> Mẫu 2</a>
                  </li>
                  <li>
                    <a > Mẫu 3</a>
                  </li>
                </ul>
              </li>
              <li class="list-group-item dropdown clearfix">
                <a class="collapsed"><i class="fa fa-angle-right"></i> TRANG SỨC</a>
                <ul class="dropdown-menu" style="display:none;">
                  <li class="list-group-item dropdown clearfix">
                    <a> Mẫu 1</a>
                  </li>
                  <li>
                    <a> Mẫu 2</a>
                  </li>
                  <li>
                    <a> Mẫu 3</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="list-group-item clearfix dropdown ">
            <a class="collapsed">
              <i class="fa fa-angle-right"></i>
              Đồ Nam
            </a>
            <ul class="dropdown-menu" style="display:none;">
              <li class="list-group-item dropdown clearfix">
                <a class="collapsed"><i class="fa fa-angle-right"></i> GIÀY DÉP </a>
                <ul class="dropdown-menu" style="display:none;">
                  <li class="list-group-item dropdown clearfix">
                    <a> Giày Thể Thao</a>
                  </li>
                  <li>
                    <a>Giày Dạ Hội</a>
                  </li>
                  <li>
                    <a>Giày Lao Động</a>
                  </li>
                </ul>
              </li>
              <li class="list-group-item dropdown clearfix">
                <a class="collapsed"><i class="fa fa-angle-right"></i> QUẦN ÁO </a>
                <ul class="dropdown-menu" style="display:none;">
                  <li class="list-group-item dropdown clearfix">
                    <a> Áo Thun</a>
                  </li>
                  <li>
                    <a> Áo Sơ Mi</a>
                  </li>
                  <li>
                    <a> Áo Khoác</a>
                  </li>
                </ul>
              </li>
              <li class="list-group-item dropdown clearfix">
                <a class="collapsed"><i class="fa fa-angle-right"></i> PHỤ KIỆN </a>
                <ul class="dropdown-menu" style="display:none;">
                  <li class="list-group-item dropdown clearfix">
                    <a> Kính</a>
                  </li>
                  <li>
                    <a> Mũ</a>
                  </li>
                  <li>
                    <a> Đồng Hồ</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="list-group-item clearfix dropdown ">
            <a class="collapsed">
              <i class="fa fa-angle-right"></i>
              Đồ Trẻ Em
            </a>
            <ul class="dropdown-menu" style="display:none;">
              <li class="list-group-item dropdown clearfix">
                <a class="collapsed"><i class="fa fa-angle-right"></i> GIÀY DÉP </a>
                <ul class="dropdown-menu" style="display:none;">
                  <li class="list-group-item dropdown clearfix">
                    <a> Giày Thể Thao</a>
                  </li>
                  <li>
                    <a>Giày Dạ Hội</a>
                  </li>
                  <li>
                    <a>Giày Lao Động</a>
                  </li>
                </ul>
              </li>
              <li class="list-group-item dropdown clearfix">
                <a class="collapsed"><i class="fa fa-angle-right"></i> QUẦN ÁO </a>
                <ul class="dropdown-menu" style="display:none;">
                  <li class="list-group-item dropdown clearfix">
                    <a> Áo Thun</a>
                  </li>
                  <li>
                    <a> Áo Sơ Mi</a>
                  </li>
                  <li>
                    <a> Áo Khoác</a>
                  </li>
                </ul>
              </li>
              <li class="list-group-item dropdown clearfix">
                <a class="collapsed"><i class="fa fa-angle-right"></i> PHỤ KIỆN </a>
                <ul class="dropdown-menu" style="display:none;">
                  <li class="list-group-item dropdown clearfix">
                    <a> Kính</a>
                  </li>
                  <li>
                    <a> Mũ</a>
                  </li>
                  <li>
                    <a> Đồng Hồ</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="list-group-item clearfix dropdown">
            <a class="collapsed">
              <i class="fa fa-angle-right"></i>
              Trợ Giúp
            </a>
            <ul class="dropdown-menu" style="display:none;">
              <li class="list-group-item dropdown clearfix">
                <a> Hướng dẫn mua hàng </a>
              </li>
              <li>
                <a> Hướng dẫn thanh toán </a>
              </li>
              <li>
                <a> Hướng dẫn Đăng ký/Đăng nhập</a>
              </li>
              <li>
                <a> Hướng dẫn lấy mật khẩu</a>
              </li>
              <li>
                <a> Thắc mắc khác</a>
              </li>
            </ul>
          </li>
        </ul>

        <div class="sidebar-filter margin-bottom-25">
          <h2>Bộ lọc</h2>
          <h3>Khả dụng</h3>
          <div class="checkbox-list">
            <label><input type="checkbox"> Không có sẵn (3)</label>
            <label><input type="checkbox"> Trong kho (26)</label>
          </div>

          <h3>Mức giá</h3>
          <p>
            <label for="amount">Khoảng:</label>
            <input type="text" id="amount" style="border:0; color:#f6931f; font-weight:bold;">
          </p>
          <div id="slider-range"></div>
        </div>

        <div class="sidebar-products clearfix">
          <h2>Bán chạy nhất</h2>
          <div class="item">
            <a href="shop-item.html"><img src="assets/pages/img/products/k1.jpg" alt="Some Shoes in Animal with Cut Out"></a>
            <h3><a href="shop-item.html">Some Shoes in Animal with Cut Out</a></h3>
            <div class="price">$31.00</div>
          </div>
          <div class="item">
            <a href="shop-item.html"><img src="assets/pages/img/products/k4.jpg" alt="Some Shoes in Animal with Cut Out"></a>
            <h3><a href="shop-item.html">Some Shoes in Animal with Cut Out</a></h3>
            <div class="price">$23.00</div>
          </div>
          <div class="item">
            <a href="shop-item.html"><img src="assets/pages/img/products/k3.jpg" alt="Some Shoes in Animal with Cut Out"></a>
            <h3><a href="shop-item.html">Some Shoes in Animal with Cut Out</a></h3>
            <div class="price">$86.00</div>
          </div>
        </div>
      </div>
      <!-- END SIDEBAR -->
      <!-- BEGIN CONTENT -->
      <div class="col-md-9 col-sm-7">
        <div class="row list-view-sorting clearfix">
          <div class="col-md-2 col-sm-2 list-view">
            <a href="javascript:;"><i class="fa fa-th-large"></i></a>
            <a href="javascript:;"><i class="fa fa-th-list"></i></a>
          </div>
          <div class="col-md-10 col-sm-10">
            <div class="pull-right">
              <label class="control-label">Hiển Thị:</label>
              <select class="form-control input-sm">
                <option value="#?limit=24" selected="selected">24</option>
                <option value="#?limit=25">25</option>
                <option value="#?limit=50">50</option>
                <option value="#?limit=75">75</option>
                <option value="#?limit=100">100</option>
              </select>
            </div>
            <div class="pull-right">
              <label class="control-label">Sắp xếp theo:</label>
              <select class="form-control input-sm">
                <option value="#?sort=p.sort_order&amp;order=ASC" selected="selected">Default</option>
                <option value="#?sort=pd.name&amp;order=ASC">Name (A - Z)</option>
                <option value="#?sort=pd.name&amp;order=DESC">Name (Z - A)</option>
                <option value="#?sort=p.price&amp;order=ASC">Price (Low &gt; High)</option>
                <option value="#?sort=p.price&amp;order=DESC">Price (High &gt; Low)</option>
                <option value="#?sort=rating&amp;order=DESC">Rating (Highest)</option>
                <option value="#?sort=rating&amp;order=ASC">Rating (Lowest)</option>
                <option value="#?sort=p.model&amp;order=ASC">Model (A - Z)</option>
                <option value="#?sort=p.model&amp;order=DESC">Model (Z - A)</option>
              </select>
            </div>
          </div>
        </div>
        <!-- BEGIN PRODUCT LIST -->
        <div class="row product-list">
          <!-- PRODUCT ITEM START -->
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div>
            <div class="product-item">
              <div class="pi-img-wrapper">
                <img src="assets/pages/img/products/model1.jpg" class="img-responsive" alt="Berry Lace Dress">
                <div>
                  <a href="assets/pages/img/products/model1.jpg" class="btn btn-default fancybox-button">Zoom</a>
                  <a class="btn btn-default " (click)="openPopup()">View</a>
                </div>
              </div>
              <h3><a href="shop-item.html">Berry Lace Dress</a></h3>
              <div class="pi-price">$29.00</div>
              <a href="javascript:;" class="btn btn-default add2cart">Thêm vào giỏ</a>
              <div class="sticker sticker-sale"></div>
            </div>
          </div>
          </div>
          <!-- PRODUCT ITEM END -->
          <!-- PRODUCT ITEM START -->
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="product-item">
              <div class="pi-img-wrapper">
                <img src="assets/pages/img/products/model2.jpg" class="img-responsive" alt="Berry Lace Dress">
                <div>
                  <a href="assets/pages/img/products/model2.jpg" class="btn btn-default fancybox-button">Zoom</a>
                  <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
                </div>
              </div>
              <h3><a href="shop-item.html">Berry Lace Dress</a></h3>
              <div class="pi-price">$29.00</div>
              <a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
            </div>
          </div>
          <!-- PRODUCT ITEM END -->
          <!-- PRODUCT ITEM START -->
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="product-item">
              <div class="pi-img-wrapper">
                <img src="assets/pages/img/products/model6.jpg" class="img-responsive" alt="Berry Lace Dress">
                <div>
                  <a href="assets/pages/img/products/model6.jpg" class="btn btn-default fancybox-button">Zoom</a>
                  <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
                </div>
              </div>
              <h3><a href="shop-item.html">Berry Lace Dress 2</a></h3>
              <div class="pi-price">$29.00</div>
              <a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
            </div>
          </div>
          <!-- PRODUCT ITEM END -->
        </div>
        <div class="row product-list">
          <!-- PRODUCT ITEM START -->
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="product-item">
              <div class="pi-img-wrapper">
                <img src="assets/pages/img/products/model4.jpg" class="img-responsive" alt="Berry Lace Dress">
                <div>
                  <a href="assets/pages/img/products/model4.jpg" class="btn btn-default fancybox-button">Zoom</a>
                  <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
                </div>
              </div>
              <h3><a href="shop-item.html">Berry Lace Dress Berry Lace Dress</a></h3>
              <div class="pi-price">$29.00</div>
              <a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
            </div>
          </div>
          <!-- PRODUCT ITEM END -->
          <!-- PRODUCT ITEM START -->
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="product-item">
              <div class="pi-img-wrapper">
                <img src="assets/pages/img/products/model5.jpg" class="img-responsive" alt="Berry Lace Dress">
                <div>
                  <a href="assets/pages/img/products/model5.jpg" class="btn btn-default fancybox-button">Zoom</a>
                  <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
                </div>
              </div>
              <h3><a href="shop-item.html">Berry Lace Dress</a></h3>
              <div class="pi-price">$29.00</div>
              <a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
              <div class="sticker sticker-new"></div>
            </div>
          </div>
          <!-- PRODUCT ITEM END -->
          <!-- PRODUCT ITEM START -->
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="product-item">
              <div class="pi-img-wrapper">
                <img src="assets/pages/img/products/model3.jpg" class="img-responsive" alt="Berry Lace Dress">
                <div>
                  <a href="assets/pages/img/products/model3.jpg" class="btn btn-default fancybox-button">Zoom</a>
                  <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
                </div>
              </div>
              <h3><a href="shop-item.html">Berry Lace Dress</a></h3>
              <div class="pi-price">$29.00</div>
              <a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
            </div>
          </div>
          <!-- PRODUCT ITEM END -->
        </div>
        <div class="row product-list">
          <!-- PRODUCT ITEM START -->
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="product-item">
              <div class="pi-img-wrapper">
                <img src="assets/pages/img/products/model7.jpg" class="img-responsive" alt="Berry Lace Dress">
                <div>
                  <a href="assets/pages/img/products/model7.jpg" class="btn btn-default fancybox-button">Zoom</a>
                  <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
                </div>
              </div>
              <h3><a href="shop-item.html">Berry Lace Dress</a></h3>
              <div class="pi-price">$29.00</div>
              <a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
            </div>
          </div>
          <!-- PRODUCT ITEM END -->
          <!-- PRODUCT ITEM START -->
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="product-item">
              <div class="pi-img-wrapper">
                <img src="assets/pages/img/products/model1.jpg" class="img-responsive" alt="Berry Lace Dress">
                <div>
                  <a href="assets/pages/img/products/model1.jpg" class="btn btn-default fancybox-button">Zoom</a>
                  <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
                </div>
              </div>
              <h3><a href="shop-item.html">Berry Lace Dress</a></h3>
              <div class="pi-price">$29.00</div>
              <a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
            </div>
          </div>
          <!-- PRODUCT ITEM END -->
          <!-- PRODUCT ITEM START -->
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="product-item">
              <div class="pi-img-wrapper">
                <img src="assets/pages/img/products/model2.jpg" class="img-responsive" alt="Berry Lace Dress">
                <div>
                  <a href="assets/pages/img/products/model2.jpg" class="btn btn-default fancybox-button">Zoom</a>
                  <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
                </div>
              </div>
              <h3><a href="shop-item.html">Berry Lace Dress</a></h3>
              <div class="pi-price">$29.00</div>
              <a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
              <div class="sticker sticker-sale"></div>
            </div>
          </div>
          <!-- PRODUCT ITEM END -->
        </div>
        <!-- END PRODUCT LIST -->
        <!-- BEGIN PAGINATOR -->
        <div class="row">
          <div class="col-md-4 col-sm-4 items-info">Items 1 to 9 of 10 total</div>
          <div class="col-md-8 col-sm-8">
            <ul class="pagination pull-right">
              <li><a href="javascript:;">&laquo;</a></li>
              <li><a href="javascript:;">1</a></li>
              <li><span>2</span></li>
              <li><a href="javascript:;">3</a></li>
              <li><a href="javascript:;">4</a></li>
              <li><a href="javascript:;">5</a></li>
              <li><a href="javascript:;">&raquo;</a></li>
            </ul>
          </div>
        </div>
        <!-- END PAGINATOR -->
      </div>
      <!-- END CONTENT -->
    </div>
    <!-- END SIDEBAR & CONTENT -->
  </div>
</div>
